{% extends 'home.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5" style="min-height: 70vh;">
    <div class="col-md-3 border p-4 rounded shadow bg-white">
        <h2 class="text-center mb-4">Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="name">First Name:</label>
                <input class="form-control form-control-sm" type="text" id="name" name="name" required>
            </div>
            <div class="form-group mb-3">
                <label for="surname">Last Name:</label>
                <input class="form-control form-control-sm" type="text" id="surname" name="surname" required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email:</label>
                <input class="form-control form-control-sm" type="email" id="email" name="email" required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password:</label>
                <input class="form-control form-control-sm" type="password" id="password" name="password" required>
            </div>
            <div class="form-group mb-3">
                <label for="password2">Confirm Password:</label>
                <input class="form-control form-control-sm" type="password" id="password2" name="password2" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md">Register</button>
            </div>
        </form>
        <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
</div>
{% endblock %}
